############################################
# Visual Studio
############################################

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

############################################
# Build folders
############################################

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

############################################
# .NET
############################################

*.cache
*.pdb
*.mdb
*.opendb
*.VC.db

############################################
# Rider / VS Code
############################################

.vscode/
.idea/

############################################
# Logs
############################################

*.log

############################################
# NuGet
############################################

packages/
*.nupkg

############################################
# Temporary files
############################################

*.tmp
*.temp

############################################
# Windows
############################################

Thumbs.db
Desktop.ini

############################################
# Arduino build
############################################

build/

############################################
# Proteus backup
############################################

*.workspace